@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  background-color: #0d0e12 !important;
}

.nav-pills .nav-link {
  color: #6c757d !important
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #1c1f25 !important;
  color: #ffffff !important;
  font-weight: bold;
}

.disabled > .page-link,
.page-link.disabled {
  background-color: #13161b !important;
  border-color: #13161b !important;
}

.page-link {
  color: #FFFFFF !important;
  background-color: #12161b !important;
  border: var(--bs-pagination-border-width) solid #12161b !important;
}

.active > .page-link,
.page-link.active {
  color: #5865f2 !important;
  background-color: #1c1f25 !important;
  border-color: #1c1f25 !important;
}

.nav-pills .nav-link {
  color: #000000;
}

.form-control {
  border: 1.5px solid #13161b !important;
  background-color: #0d0e12 !important;
  color: #ffffff !important;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d !important;
  text-align: center;
  white-space: nowrap;
  background-color: #0d0e12 !important;
  border-color: #13161b !important;
  border-radius: 0.375rem;
}

.form-control:focus {
  color: #ffffff !important;
  background-color: #0d0e12 !important;
  border-color: #5865f2 !important;
  outline: 0;
  box-shadow: none !important;
}

.offcanvas {
  background-color: #0d0e12 !important;
}


.list-group-item {
  color: #ffffff !important;
  background-color: #212529 !important;
  border: 1px solid #343a40 !important;
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
  background: #1c1f25 !important;
  color: #44bd32 !important;
  border-radius: 5px !important;
  font-size: 16px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
  color: #ffffff !important;
  margin-bottom: 20px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: #5865f2 !important;
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_length select {
  background-color: #1c1f25 !important;
  border: 1px solid #1c1f25 !important;
  color: #FFFFFF !important;
}

.dt-buttons{
  float: inherit !important;
  margin-bottom: 20px !important;
}

.dataTables_wrapper .dataTables_filter input { 
  border: 1px solid #1c1f25 !important;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    background-color: #1c1f25  !important;
    margin-left: 3px;
    color: #FFFFFF !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #1c1f25 !important;
  background-color: #1c1f25 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #1c1f25 !important;
  box-shadow: inset 0 0 3px #1c1f25 !important;
}
